<footer class="d-flex justify-content-center w-100">
    <div class="footer_elem"><a href="{{ path('objects_listing') }}">Tous les Objets</a></div>
    <div class="footer_elem"><a href="{{ path('libraries') }}">Bibliographie thématique</a></div>
    <div class="footer_elem"><a href="{{ path('legal_notice') }}">Mentions légales</a></div>
    <div class="footer_elem"><i class="fa-regular fa-copyright px-1"></i>Collection Arbogast</div>
</footer>