{% extends 'base.html.twig' %}

{% block title %}Mentions Légales{% endblock %}

{% block body %}

    <div class="content_box">
        <h2 class="bg_main">Mentions Légales</h2>

        <div class="px-2">
            <p>
                ARTICLE 1 : OBJET ET DISPOSITIONS GENERALES
                Les présentes mentions légales sont le fruit de l’activité de l’Association des Amis du Musée Vodou située 4 rue de koenigshoffen 67000 STRASBOURG.
                Elles sont portées à la connaissance de toute personne physique ou morale ayant accès à l’inventaire.
                Toute consultation de ce site implique donc l’adhésion sans réserve du consultant aux présentes mentions légales.
                <br>
                <br>
                ARTICLE 2 : LOI APPLICABLE ET ATTRIBUTION DE COMPÉTENCE
                Les présentes conditions générales de vente sont soumises à la loi française. En cas de litige, les tribunaux français sont seuls compétents. Les présentes mentions légales sont en vigueur à compter du 20/02/23
                <br>
                <br>
                ARTICLE 3: Propriété intellectuelle
                Les photographies, textes, slogans, dessins, images, animations, vidéos ainsi que toutes œuvres intégrées dans le site sont la propriété de l’association des Amis du Musée vodou et du collectionneur, Marc Arbogast. Ces informations ne sont pas libres de droits. Toute reproduction, représentation, utilisation, adaptation, modification, incorporation, traduction, commercialisation, partielle ou intégrale ou transfert vers un autre site sont interdites. Sauf autorisation écrite de l’association et/ou du collectionneur, toute exploitation non autorisée de ces contenus engagerait votre responsabilité.
                <br>
                <br>
                ARTICLE 4. Responsabilité
                L’association et le collectionneur ne peuvent garantir l'exactitude, la complétude, l'actualité des informations diffusées sur le site. En conséquence, ils déclinent toute responsabilité : pour toute imprécision, inexactitude ou omission portant sur des informations disponibles sur le site ; pour tous dommages résultant d'une intrusion frauduleuse d'un tiers ayant entraîné une modification des informations mises à la disposition sur le site.
                <br>
                <br>
                ARTICLE 5 Liens hypertextes
                Le site peut contenir des liens hypertextes vers d'autres sites présents sur le réseau Internet. Les liens vers ces autres ressources vous font quitter le site de la collection privée. Les propriétaires de l’inventaire ne disposent d'aucun contrôle sur le contenu des sites ainsi visités et déclinent toute responsabilité quant aux risques éventuels de contenus illicites.
                <br>
                <br>
                ARTICLE 6 Données personnelles
                Conformément à la réglementation en vigueur, vous disposez d'un droit d'accès, de modification, de rectification et de suppression des données qui vous concernent (art. 34 de la loi "Informatique et Libertés"). Pour exercer ce droit, veuillez vous adresser à la l’association à l'adresse email suivante : contact@chateau-vodou.com

            </p>
        </div>

    </div>


{% endblock %}