{#{% extends "base.html.twig" %}#}

{#{% block javascripts %}#}
{#    {{ parent() }}#}
{#    {{ encore_entry_script_tags('mediaObject') }}#}
{#    {{ encore_entry_script_tags('object') }}#}
{#{% endblock %}#}

{#{% block body %}#}

{#    <div class="content_box" data-id-object="{{ object.id }}">#}








{#    </div>#}
{#{% endblock %}#}

