/*----------------Marge à 0 !!!!-------------*/
html {
  color: var(--text);
  font-size: 16px;
}
/*---------Color----*/
:root {
  --body-bg-color: #6e3930 !important;
  --main: #8a2a2d;
  --second: #008080;
  --third: #ADB04F;
  --text: #212121;
  --bg1: #B0413E;
  --bg2: #2C75B0;
  --bg3: #ADB04F;
  --bg4: #1E4463;
  --bg5: #8FE85F;
  --bg6: #F5F358;
  --bg7: #5CF0FF;
  --bg8: #5CFF5C;
  --bg9: #FFCD5C;
  --bg10: #9558F5;
  --bg11: #631B19;
  --bg12: #631B19;
  --bg13: #631B19;
  --bg14: #631B19;
  --bg15: #631B19;
  --bg16: #631B19;
  --fourth-bg-color: #D64045 !important;
  --night-mode: #212121 !important;
  --day-mode: #ffff !important;
  --ratio: 16px;
}
$colors: #8B1610, #FFCC00;
$bgColors: #B0413E, #2C75B0, #ADB04F, #1E4463, #8FE85F, #F5F358, #5CF0FF, #5CFF5C, #FFCD5C, #9558F5, #631B19;

/**********************************************/
/*GENERAL*/
.fontAwesome {
  font-family: 'Helvetica', FontAwesome, sans-serif;
}

/*---------Elements de la page---------------*/
body {
  overflow-y: hidden;
}
p, h1, h2, h3, h4, h5 {
  color: var(--text);
}
a {
  margin: 0;
  padding: 0;
}
hr {
  color: var(--main);
}
input:focus,
input:active,
textarea:focus,
textarea:active,
select:focus,
select:active {
  border: 1px solid var(--main) !important;
  box-shadow: 0 0 4px var(--main) !important;
}
input:checked {
  background-color: var(--main) !important;
  border-color: var(--main) !important;
}
/*bootstrap add*/
.fs-8 {
  font-size: 10px;
}
.fs-9 {
  font-size: 8px;
}
/*BASIC FUNCTION*/
.show {
  display: block;
}
.hide {
  display: none;
}
.bg_main {
  background-color: var(--main);
}
.bg_second {
  background-color: var(--second);
}
.bg_third {
  background-color: var(--third);
}
.btn-vodou {
  position: relative;
  cursor: pointer;
  background-color: #FFFFFF;
  border-radius: 4px;
  border-bottom: solid 2px var(--main);
  width: fit-content;
}
.btn-vodou:hover {
  background-color: var(--main);
}
.btn-vodou:focus,
.btn-vodou:active {
  box-shadow: 0 0 4px var(--main);
}

.btn-vodou-neumorphism {
  color: white;
  margin: 1px;
  background: linear-gradient(145deg, #7c2629, #942d30);
  box-shadow:  3px 1px 3px #4c1719;
  border-bottom: none !important;
}
.btn-vodou-neumorphism:hover {
  color: white;
  background: var(--main);
  box-shadow: inset 5px 5px 10px #4c1719,
  inset -5px -5px 10px #c83d41;
}



.btn-vodou-cancel {
  color: #FFFFFF;
  background-color: var(--main) !important;
  border-radius: 4px;
  border-bottom: solid 2px var(--main);
}
.btn-vodou-submit {
  background-color: var(--main) !important;
}
.btn-vodou-active {
  display: flex;
  border-radius: 4px;
  border-top: solid 2px var(--main);
  border-right: solid 2px var(--main);
  border-left: solid 2px var(--main);
  background: #8a2a2d;
  box-shadow: inset 8px 8px 16px #732325,
  inset -8px -8px 16px #a13135;
}
/*BTN VODOU NEON*/
.btn-vodou-neon {
  position: relative;
  overflow: hidden;
  border: none !important;
  transition: 0.5s;
}
.btn-vodou-neon span {
  position: absolute;
  display: block;
}
.hr-right {
  border-right: 1px solid black;
}
/*HEADER*/
.hover_button {
  height: 5px;
}
.activated,
.activated span {
  color: #ffffff !important;
  background-color: var(--main) !important;
}
a {
  text-decoration: none;
  color: inherit;
}
a:active {
  color: var(--text);
  background-color: var(--main) !important;
}
a:hover {
  color: inherit;
}
a:not(.activated) span:hover {
  color: var(--main);
}
/*MAIN*/
#page {
  background-color: var(--second);
  overflow-y: auto;
  height: 100vh !important;
  transition: all ease 0.2s;
}
.content_box {
  position: relative;
  border: none;
  background-color: white;
  padding-bottom: 10px;
  margin: 5px 20px 40px 20px !important;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.3) 2px 4px 3px;
  .content_box_element {
    padding: 5px 10px;
  }
  h2  {
    background-color: var(--main);
    padding: 10px 20px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    //margin: 10px !important;
  }
}

//CAROUSEL GRAB//
.carousel_grab {
  background-color: lighten(skyblue, 60%);
  grid-area: main;
  padding: 0;
  margin: 25px 0;
  overflow-x: hidden;
  overflow-y: hidden;
  .carousel_grab_items {
    position: relative;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    transition: all 0.2s;
    will-change: transform;
    user-select: none;
    cursor: pointer;
    .item {
      display: inline-block;
      background: var(--main);
      height: 400px;
      width: 370px;
      img {
        margin: 0 auto;
        height: 100%;
        max-width: 370px !important;
      }
      @media screen and (max-width: 500px) {
        min-height: 200px;
        min-width: 200px;
      }
    }
  }
  .carousel_grab_items.active {
    background: rgba(255,255,255,0.3);
    cursor: grabbing;
    //cursor: -webkit-grabbing;
  }
}


//SCROLLBAR//
@media (hover:hover) {
  .scrollbar {
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      background-color: white;
    }
    &::-webkit-scrollbar {
      width: 6px;
      height: 6px;
      background-color: #F5F5F5;
    }
    &::-webkit-scrollbar-thumb {
      background-color: var(--main);
    }
  }
}

//LOADING
@-webkit-keyframes scaling-dots {
  0%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  40%, 60% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
@keyframes scaling-dots {
  0%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  40%, 60% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

.scaling-dots {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(5, 10px);
  border-radius: inherit;
  background-color: inherit;
  border: inherit;
}
.scaling-dots div {
  position: relative;
  top: 40%;
  -webkit-animation: scaling-dots 1s infinite ease backwards;
  animation: scaling-dots 1s infinite ease backwards;
  background-color: black;
  border-radius: 100%;
  height: 10px;
  width: 10px; }
.scaling-dots div:nth-child(1) {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s; }
.scaling-dots div:nth-child(2) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }
.scaling-dots div:nth-child(3) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }
.scaling-dots div:nth-child(4) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s; }
.scaling-dots div:nth-child(5) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s; }
//@import "~bootstrap/scss/bootstrap";
//@import "bootstrap.min.css";