{% extends "base.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('object') }}
{% endblock %}

{% block body %}

<div id="sharedBookmarksPage" class="content_box" data-controller="sharedBookmarks">

    <div class="d-flex align-items-center bg_main py-2"><span class="px-2">Nouveau</span><a data-action="click->sharedBookmarks#displayForm" class="btn-vodou px-2"><i class="fa-solid fa-plus"></i></a></div>
    <div class="content_box_element">
        {{ render(controller('App\\Controller\\Objects\\SharedBookmarks\\SharedBookmarksController::create')) }}

        <hr>

        <h4>Liste des Favoris Partagés</h4>
        {{ render(controller('App\\Controller\\Objects\\SharedBookmarks\\SharedBookmarksController::index')) }}
    </div>

{% endblock %}