
<!-- Modal Shared Bookmarks-->
<div class="modal fade" id="sharedBookmark" tabindex="-1" role="dialog" aria-hidden="true" data-controller="sharedBookmarks">

    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div>
                    <h2 class="modal-title">Favoris partagés</h2>
                </div>
                <button class="close btn btn-vodou" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="fs-3"><i class="fa-solid fa-xmark"></i></span>
                </button>

            </div>
            <div class="modal-body px-1">
                <div class="d-flex align-items-center"><span class="px-2">Nouveau</span><a data-action="click->sharedBookmarks#displayForm" class="btn-vodou px-2"><i class="fa-solid fa-plus"></i></a></div>

                {{ render(controller('App\\Controller\\Objects\\SharedBookmarks\\SharedBookmarksController::create')) }}


                {{ render(controller('App\\Controller\\Objects\\SharedBookmarks\\SharedBookmarksController::index', {idObject:object.id})) }}
            </div>
        </div>
    </div>
</div>